#Crea un archivo .env con las siguientes variables de entorno
# Configuración de la Base de Datos
DB_USER=postgres
DB_PASSWORD=mi_password_secreta
DB_NAME=db_peliculas

# Configuración de Seguridad de la API
JWT_SECRET=UnaClaveNuevaYPersonalizadaParaElEntornoDeProduccionConDocker123456789!
JWT_EXPIRATION=86400000